/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*@import "compass/reset";*/
/* line 8, ../sass/screen.scss */
html, body {
  padding: 0;
  margin: 0;
}

/* line 13, ../sass/screen.scss */
nav {
  width: 100%;
  margin-top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  height: 60px;
  overflow: visible;
  position: fixed;
  top: 0;
  border-bottom: 5px solid #f3f3f3;
}
/* line 23, ../sass/screen.scss */
nav #logo {
  float: left;
  width: 90px;
  margin-left: 5%;
  position: relative;
  bottom: 22px;
}
/* line 32, ../sass/screen.scss */
nav li {
  float: left;
  list-style: none;
  font-family: helvetica;
  color: black;
  margin-left: 30px;
  margin-top: 20px;
}
/* line 41, ../sass/screen.scss */
nav a:hover {
  text-decoration: none;
  color: black;
}
/* line 46, ../sass/screen.scss */
nav a {
  color: black;
}

/* line 51, ../sass/screen.scss */
body {
  background-color: black;
  width: 100%;
  height: 3000px;
}
